@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary: #ffff;
}
